<% if @comps.empty? %>
  <h3>
    REST DAY TODAY: NO CURRENTLY OPEN COMPS!
  </h3>

<% else %>
  <h2>
    JOIN A COMP
  </h2>

  <%= render partial: 'compcard', locals: {comps: @comps} %>
<% end %>

<% unless @upcoming.empty? %>
  <h3>
    UPCOMING
  </h3>

  <%= render partial: 'compcard', locals: {comps: @upcoming} %>
<% end %>

<% unless @recent.empty? %>
  <h3>
    RECENT
  </h3>

  <%= render partial: 'compcard', locals: {comps: @recent} %>
<% end %>


