<b>Bouldering Leaders</b><br>
<ul class="sheet" id="boulder">
    <li><div><b>Name:</b></div><div><b>Points:</b></div></li>
</ul>

<b>Sport Climbing Leaders</b><br>
<ul class="sheet" id="sport">
    <li><div><b>Name:</b></div><div><b>Points:</b></div></li>
</ul>

<b>Speed Climbing Leaders</b><br>
<ul class="sheet" id="speed">
    <li><div><b>Name:</b></div><div><b>Time:</b></div></li>
</ul>
