<button class="tab" id="malesTab" onclick="renderLeadersForGender(LEADERS, 'males')">Men</button>
<button class="tab" id="femalesTab" onclick="renderLeadersForGender(LEADERS, 'females')">Women</button>
<button class="tab" id="collegesTab" onclick="renderLeadersForGender(LEADERS, 'colleges')">College</button>

<b>Bouldering Leaders</b><br>
<ul class="sheet" id="boulder">
    <li><div><b>Name:</b></div><div><b>College:</b></div><div><b>Points:</b></div></li>
</ul>

<b>Sport Climbing Leaders</b><br>
<ul class="sheet" id="sport">
    <li><div><b>Name:</b></div><div><b>College:</b></div><div><b>Points:</b></div></li>
</ul>

<b>Speed Climbing Leaders</b><br>
<ul class="sheet" id="speed">
    <li><div><b>Name:</b></div><div><b>College:</b></div><div><b>Time:</b></div></li>
</ul>
