<div class="sheet">
    <button class="tab" onclick="renderClimbs(CLIMBS, 'sport')">Boulder</button>
    <button class="tab" onclick="renderClimbs(CLIMBS, 'boulder')">Sport</button>
    <button class="tab">Speed</button>

    <ul class="table" id="table">
        <li><div><b>Points:</div><div>Color:</div><div>Attempts:</b></div></li>
    </ul>
</div>


