<div class='navbar'>
  <ul class='navList'>
    <li class='nav'>
      <%= link_to @current_scoresheet.comp.location, scoresheet_path %>
    </li>
    <li class='nav'>
      <%= link_to 'Leaderboard', @current_scoresheet.comp %>
    </li>
    <li class='nav'>
      <%= link_to 'Submit', 'scoresheet/submit' %>
    </li>
  </ul>
</div>

<div class="sheet">
    <button class="tab" id="boulderTab" onclick="renderClimbs(CLIMBS, 'boulder')">Boulder</button>
    <button class="tab" id="sportTab" onclick="renderClimbs(CLIMBS, 'sport')">Sport</button>
    <button class="tab" id="speedTab" onclick="renderClimbs(CLIMBS, 'speed')">Speed</button>

    <ul class="table" id="table">
        <span id="cols"><li><div>Points</div><div>Color</div><div>Attempts</div></li><span>
    </ul>
</div>


