<div class="sheet">
    <button class="tab" id="boulderTab" onclick="renderClimbs(CLIMBS, 'boulder')">Boulder</button>
    <button class="tab" id="sportTab" onclick="renderClimbs(CLIMBS, 'sport')">Sport</button>
    <button class="tab" id="speedTab" onclick="renderClimbs(CLIMBS, 'speed')">Speed</button>

    <ul class="table" id="table">
        <span id="cols"><li><div><b>Points:</div><div>Color:</div><div>Attempts:</b></div></li><span>
    </ul>
</div>


