// Place all the styles related to the comp controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.comp-card {

}

.block-link {
  border: 3px solid black;
  display: block;
  width: 256px;
  margin: auto;
  padding: 10px;
  box-sizing: border-box;
  background-color: white;
  color: black;
  font-family: 'Lato';
}

.block-link:hover, .block-link:focus {
  background-color: #111;
  color: #eee;
  cursor: pointer;
}
  
