$width: 100%;

.hidden {
  display: none;
}

#wrapper {
  box-sizing: border-box;
  width: $width;
}

ul {
  padding: 0;
}

a {
  text-decoration: none;
}

body {
  margin: 0;
  font-family: 'Lato', sans-serif;
}

button:hover {
  cursor: pointer;
}
