.navList {
    box-sizing: border-box;
    padding: 5px;
}

.nav {
   // border: 1px solid black;
   // border-radius: 5px;
   // box-shadow: 3px 3px 2px #888888;
    display: inline-block;
    padding: 10px;
    background-color: #ddd;
}

.nav a {
  color: #111;
}
