// Place all the styles related to the scoresheet controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.sheet {
    width: 300px;
}

.table {
    padding-left: 0;
    margin: 1px;
    width: 100%
}

li {
    list-style-type: none;
}

li div {
    border: 1px solid black;
    display: inline-block;
    padding: 2px;
    width: 31%;
}

button div {
    display: inline-block;
    padding: 2px;
    width: 30%;
}

button {
    display: block;
    width: 297px;
}

.tab {
    border-radius: 10px 10px 0 0;
    display: inline-block;
    margin-right: -4px;
    width: 33.3%;
}

.info {
    border: none;
    text-align: center;
    width: 300px;
}

.registerButton {
    left: 75px;
    margin: 5px;
    margin-left: 75px;
    width: 150px;
}

.speedBox {
    box-shadow: 3px 3px 2px #888888;
    margin: 5px;
    text-align: left;
    padding: 5px;
    border: 1px solid black;
    border-radius: 5px;
    width: 255px;
}

.submitButton {
    margin-top: 5px;
    width: 100px;
}
